@import "./reset.css";

body {
	font-family: "Tagesschrift", system-ui;
}

.wrapper {
	overflow: clip;
	min-height: 100%;

}

.header, .footer {
	padding: 20px 0;
	text-transform: uppercase;
	text-align: center;

	color: #495ba8;
}

.header__title span {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 5px;
	animation: letter-appears 2s infinite alternate;
}

.header__title span:nth-child(1) {animation-delay: 0s;}
.header__title span:nth-child(2) {animation-delay: 0.2s;}
.header__title span:nth-child(3) {animation-delay: 0.4s;}
.header__title span:nth-child(4) {animation-delay: 0.6s;}
.header__title span:nth-child(5) {animation-delay: 0.8s;}
.header__title span:nth-child(6) {animation-delay: 1s;}
.header__title span:nth-child(7) {animation-delay: 1.2s;}
.header__title span:nth-child(8) {animation-delay: 1.4s;}
.header__title span:nth-child(9) {animation-delay: 1.6s;}

@keyframes letter-appears {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.sea {
	background-image: url(../img/palm_trees_yellow_sand_beach.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sea__container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.yacht {
	perspective: 100px;
	will-change: transform;
	animation:
		move-yacht 8s ease-in-out infinite 1s alternate;
}

.yacht__container {
	max-width: 950px;
	min-height: 600px; /* sorry, but without this property I can't use Y-axis positioning */ 
	transform: translateZ(-350px);
}

.yacht__hull {
	position: absolute;
	top: 30%;
	left: 20%;
	width: 400px;
	height: 100px;
	opacity: 0.8;
	border-radius: 10px 10px 40px 40px;
	background-color:#495ba8;
}

.yacht__mast {
	position: absolute;
	width: 20px;
	height: 400px;
	bottom: 70%;
	left: 40%;
	background-color: black;
	border-radius: 5px;
	opacity: 0.6;
}

.yacht__sail-right {
	position: absolute;
	top: -35%;
	left: 40%;
	width: 0;
	height: 0;

	border-left: 0px solid transparent;
	border-right: 220px solid transparent;
	border-bottom: 300px solid rgb(49, 70, 139);
	opacity: 0.5;
}

.yacht__sail-left {
	position: absolute;
	top: -25%;
	left: 19%;
	width: 0;
	height: 0;

	border-left: 200px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 280px solid rgb(212, 201, 34);

	opacity: 0.9;
}

.sun-position {
	padding: 100px 0 0 100px;
}

.sun {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: rgba(194, 194, 73, 0.8);
	will-change: transform;
	animation:
		spin-sun 8s infinite ease-out forwards 2s,
		pulsating-sun 5s infinite ease-in-out 3s;
}

.sun:hover {
	animation-play-state: paused;
}

@keyframes move-yacht {
	0% {
		transform: translateX(10px) rotateZ(2deg);
	}

	35% {
		transform: translateX(100px) rotateZ(-2deg);
	}

	50% {
		transform: translateX(150px) rotateZ(2deg);
	}

	75% {
		transform: translateX(200px) rotateZ(-2deg);
	}

	100% {
		transform: translateX(250px) rotateZ(2deg);
	}
}

@keyframes spin-sun {
	0% {
		rotate: 90deg;
	}

	50% {
		rotate: 180deg;
	}

	100% {
		rotate: 360deg;
	}
}

@keyframes pulsating-sun {
	0% {
		scale: 1;
	}

	50% {
		scale: 0.8;
	}

	100% {
		scale: 0.6;
	}
}

.sun__ray {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 10px;
	border-radius: 5px;
	transform-origin: left center;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
	background-color: rgb(194, 194, 73, 0.5);
}

.sun__ray:nth-child(1) {
	width: 90px;
	transform: rotate(5deg) translateX(45px);
}

.sun__ray:nth-child(2) {
	transform: rotate(45deg) translateX(44px);
}

.sun__ray:nth-child(3) {
	width: 90px;
	transform: rotate(95deg) translateX(42px);
}

.sun__ray:nth-child(4) {
	transform: rotate(145deg) translateX(45px);
}

.sun__ray:nth-child(5) {
	width: 90px;
	transform: rotate(190deg) translate(49px);
}

.sun__ray:nth-child(6) {
	transform: rotate(235deg) translate(50px);
}

.sun__ray:nth-child(7) {
	width: 90px;
	transform: rotate(280deg) translate(50px);
}

.sun__ray:nth-child(8) {
	transform: rotate(330deg) translate(50px);
}

/*-----------------------------------animation-set-------------------------------------- */

.swing {
	display: inline-block;
	vertical-align: middle;
}

.swing__wrapper {
	text-align: left;
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 300px 0 100px;
}

.swing__wrapper::before {
	content: "";
	width: 100%;
	height: 5px;
	position: absolute;
	background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	z-index: 2;
}

.swing__circle {
	position: absolute;
	height: 100%;
	inset-block-start: 0;
	transform-origin: top;
}

.swing__circle:nth-child(1) {
	inset-inline-start: 48px;
	animation: left-circle 1s infinite ease-in alternate;
}

.swing__circle:nth-child(2) {
	inset-inline-start: 148px;
}

.swing__circle:nth-child(3) {
	inset-inline-end: 48px;
	animation: right-circle 1s infinite ease-in alternate;
}

.swing__circle::before {
	content: "";
	height: 240px;
	width: 5px;
	background-color: blue;
}

.swing__circle::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100px;
	height: 100px;
	background: radial-gradient(circle,rgba(251, 242, 63, 1) 13%, rgba(252, 106, 98, 1) 57%, rgba(252, 70, 107, 1) 100%);
	border-radius: 50%;
	transform: translateX(-50px);
}

@keyframes left-circle {
	0% {
		transform: rotate(25deg);
	}

	50%,
	100% {
		transform: rotate(0deg);
	}
}

@keyframes right-circle {
	0%,
	50% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-25deg);
	}
}

.cube {
	display: inline-block;
	vertical-align: middle;
}

.cube__body {
	position: relative;
	max-width: 200px;
	min-height: 200px;
	transform-style: preserve-3d;
	transform-origin: center top;
	animation: rotate-cube 5s alternate 2s infinite;
}

.cube__body:hover {
	animation-play-state: paused;
}

@keyframes rotate-cube {
	0% {
		transform: rotate3d(1, 1, 1, 0deg);
	}

	15% {
		transform: rotate3d(1, 1, 1, 50deg);
	}

	30% {
		transform: rotate3d(1, 1, 1, 110deg);
	}

	45% {
		transform: rotate3d(1, 1, 1, 180deg);
	}

	70% {
		transform: rotate3d(1, 1, 1, 230deg);
	}

	85%{
		transform: rotate3d(1, 1, 1, 300deg);
	}

	100% {
		transform: rotate3d(1, 1, 1, 360deg);
	}
}

.cube__side {
	position: absolute;
	width: 200px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 40px;
	backface-visibility: hidden;
	background: radial-gradient(circle,rgba(238, 174, 202, 0.6) 0%, rgba(148, 187, 233, 0.5) 65%);
	border: 2px solid rgb(31, 29, 29);
}

.cube__side--front {
	transform: translateZ(100px);
}

.cube__side--back {
	transform: rotateY(180deg) translateZ(100px);
}

.cube__side--rigth {
	transform: rotateY(90deg) translateZ(100px);
}

.cube__side--left {
	transform: rotateY(-90deg) translateZ(100px);
}

.cube__side--top {
	transform: rotateX(90deg) translateZ(100px);
}

.cube__side--bottom {
	transform: rotateX(-90deg) translateZ(100px);
}
