@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
	font-family: "Montserrat", sans-serif;
}

[class*="__container"] {
	max-width: 1230px;
	padding: 0 15px;
}

.wrapper {
	min-height: 100%;
	/* overflow: clip; */
	display: flex;
	flex-direction: column;
}

.page {
	flex-grow: 1;
}

.footer {
	padding: 20px;
	background-color: #a8735b;
}

.footer span {
	font-size: 16px;
	font-weight: 500;
	transition: color 0.5s;
}

.footer span:hover {
	color:  #FFF;
}

/* ------------------------------------header--------------------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;

	background-color: rgba(255, 255, 255, 0.8);
}

.header__container {
	margin: 0 auto;
	position: relative;
	z-index: 3;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	padding: 28px 15px 25px 15px;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 6px;
	flex-basis: 211px;
} 


@keyframes rotate-logo {
	100% {
		transform: rotate(360deg);
	}
}

.logo__img {
	width: 44px;
	height: 44px;
	flex-shrink: 0;
	animation: rotate-logo infinite 6s linear;
	transition: all 0.5s;
}

.logo__brand, .navigation__item {
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
}

.logo__brand {
	font-weight: 700;
	flex-basis: 161px;
	white-space: nowrap;
}

.navigation__list {
	display: flex;
	gap: 10px 30px;
	flex-wrap: wrap;
}

.navigation__item {
	font-size: 13px;
	font-weight: 500;
	transition: color 0.5s;
}

.navigation__item:hover {
	color:  #F26522;
}

.header__button {
	max-width: 176px;
	padding: 8px 30px;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	border-radius: 999px;
	background: #F26522;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

	color: #FFF;
	font-size: 16px;
	font-weight: 500;
	line-height: 120%;
	white-space: nowrap;
	transition: background-color 0.5s;
}

.button::after {
	content: "";
	background: url(../img/iconsBusiness/arrow_button.svg) 0 0 no-repeat;
	width: 24px;
	height: 24px;
}

.button:hover {
	background-color:  #c05320;
}

/* ------------------------------------hero----------------------------------- */

.hero {
	background-image: url(../img/man_png.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	margin: 0 auto;
	z-index: 5;
}

.hero__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 47px 0 47px 0;
	color: #FFF;
	max-width: 800px;
}

.header__button {
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 176px;
	text-transform: capitalize;
}

.hero__content .hero__button {
	padding: 14px 44px;
	font-size: 20px;
}

.hero__title {
	max-width: 792px;
	font-size: 72px;
	font-weight: 700;
	text-align: center;
}

.hero__content p {
	max-width: 594px;
	font-size: 17px;
	line-height: 1.3;
	text-align: center;
}

.hero__img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}

/* -----------------------------------------------burger----------------------------------- */

.header__burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
}

.header__burger::after,
.header__burger::before,
.header__burger span {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #F26522;
	transition: all 0.3s;
}

.header__burger::before {
	top: 0;
}

.header__burger span {
	top: 50%;
	transform: translateY(-50%);
}

.header__burger::after {
	bottom: 0;
}

.burger-open .header__burger span {
	width: 0;
}

.burger-open .header__burger::before {
	top: 50%;
	transform: rotate(-45deg);
}

.burger-open .header__burger::after {
	top: 50%;
	transform: rotate(45deg);
}

body.burger-open {
	overflow: hidden;
}

@media (any-hover :hover) {
	.burger-menu__item > a:hover {
		text-decoration: underline;
	}
}

@media (max-width: 1191px) {
	.logo__brand {
		font-size: 14px;
	}

	.hero__header .hero__button {
		padding: 5px 10px;
	}
}

@media (max-width: 991px) {
	.hero__header {
		padding: 15px 0 15px 0;
	}

	.logo__brand {
		display: none;
	}

	.navigation__list {
		gap: 10px 20px;
	}

	.button::after {
		display: none;
	}

	.hero__title {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	.hero__container {
		gap: 20px;
	}

	.logo__brand {
		display: block;
		font-size: 14px;
	}

	.navigation__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 30px;
		position: fixed;
		left: 0;
		top: 97px;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color:#F26522;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
	}

	.navigation__item {
		color: #FFF;
		font-size: 24px;
		cursor: pointer;
		transition: color 0.6s;
	}

	.navigation__item:hover {
		color: #1a1a1a;
	}

	.burger-open .navigation__list {
			opacity: 1;
			visibility: visible;
		}

	.hero__header {
			justify-content: space-evenly;
		}

	.button {
			font-size: 13px;
		}

	.header__burger {
			display: block;
		}

	.hero__title {
			font-size: 20px;
		}

	.hero__content p {
			font-size: 13px;
		}
}

@media (max-width: 420px) {
	.logo__brand {
		display: none;
	}

	.header__button {
		max-width: 130px;
	}

	.hero__container .hero__button {
		font-size: 16px;
		padding: 7px 21px;
	}
}
